/*  The Akebi theme option file for the FiveAlive theme of Tiki Wiki CMS Groupware. */
/*!
   * Bootstrap  v5.3.1 (https://getbootstrap.com/)
   * Copyright 2011-2023 The Bootstrap Authors
   * Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
   */
.tiki-top-nav-light {
  --tiki-top-bg: linear-gradient(to right, #0a8794 0%, #169fb6 53%, #18a4bc 72%, #19a5bd 100%);
  --tiki-top-color: #f9f9f9;
  --tiki-top-hover-color: #f2f2f2;
  --tiki-top-text-color: #f2f2f2;
  --tiki-top-border: solid #000;
}
.tiki-topbar-nav-light {
  --tiki-topbar-bg: #063035;
  --tiki-topbar-color: #f9f9f9;
  --tiki-topbar-hover-color: #f2f2f2;
  --tiki-topbar-text-color: #f2f2f2;
}
.tiki-top-nav-dark {
  --tiki-top-bg: linear-gradient(to right, #0a8794 0%, #169fb6 53%, #18a4bc 72%, #19a5bd 100%);
  --tiki-top-color: #f9f9f9;
  --tiki-top-hover-color: #f2f2f2;
  --tiki-top-text-color: #f2f2f2;
  --tiki-top-border: solid #000;
}
.tiki-topbar-nav-dark {
  --tiki-topbar-bg: #063035;
  --tiki-topbar-color: #f9f9f9;
  --tiki-topbar-hover-color: #f2f2f2;
  --tiki-topbar-text-color: #f2f2f2;
}
.tiki-top-nav-light, .tiki-top-nav-dark {
  --tiki-fixed-top-border-top-width: 0px;
  --tiki-fixed-top-border-bottom-width: 5px;
}
.tiki .tiki-admin-top-nav-light, .tiki .tiki-admin-aside-nav-light {
  --tiki-admin-top-nav-color: #f9f9f9;
  --tiki-admin-top-nav-hover-color: ;
  --tiki-admin-top-nav-hover-bg: none ;
  --tiki-admin-aside-nav-bg: linear-gradient(to right, #0a8794 0%, #169fb6 53%, #18a4bc 72%, #19a5bd 100%);
  --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
  --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
  --tiki-admin-aside-nav-hover-bg: #087084;
  --tiki-admin-dropdown-bg: #fff;
  --tiki-admin-dropdown-link-color: #11606E;
  --tiki-admin-dropdown-link-hover-color: #07262c;
  --tiki-admin-dropdown-link-hover-bg: #087084;
}
.tiki.tiki-admin .top_modules.navbar-light-parent {
  --tiki-admin-top-nav-bg: linear-gradient(to right, #0a8794 0%, #169fb6 53%, #18a4bc 72%, #19a5bd 100%);
}
.tiki .tiki-admin-top-nav-dark, .tiki .tiki-admin-aside-nav-dark {
  --tiki-admin-top-nav-color: #f9f9f9;
  --tiki-admin-top-nav-hover-color: #f9f9f9;
  --tiki-admin-top-nav-hover-bg: #f2f2f2;
  --tiki-admin-aside-nav-bg: linear-gradient(to right, #0a8794 0%, #169fb6 53%, #18a4bc 72%, #19a5bd 100%) !important;
  --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
  --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
  --tiki-admin-aside-nav-hover-bg: #087084;
  --tiki-admin-dropdown-link-color: #fff;
  --tiki-admin-dropdown-bg: #087f93;
  --tiki-admin-dropdown-link-hover-color: #07262c;
  --tiki-admin-dropdown-link-hover-bg: rgba(255, 255, 255, 0.15);
}
.tiki.tiki-admin .top_modules.navbar-dark-parent {
  --tiki-admin-top-nav-bg: linear-gradient(to right, #0a8794 0%, #169fb6 53%, #18a4bc 72%, #19a5bd 100%) !important;
}
.accordion {
  --bs-accordion-active-bg: #177F92;
  --bs-accordion-active-color: #fff;
  --bs-accordion-btn-bg: #67b1be;
}
:root, [data-bs-theme="light"] {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #177F92;
  --bs-secondary: #005064;
  --bs-success: #3A833A;
  --bs-info: #007378;
  --bs-warning: #A4660E;
  --bs-danger: #D63D00;
  --bs-light: #ddf8f9;
  --bs-dark: #063035;
  --bs-primary-rgb: 23, 127, 146;
  --bs-secondary-rgb: 0, 80, 100;
  --bs-success-rgb: 58, 131, 58;
  --bs-info-rgb: 0, 115, 120;
  --bs-warning-rgb: 164, 102, 14;
  --bs-danger-rgb: 214, 61, 0;
  --bs-light-rgb: 221, 248, 249;
  --bs-dark-rgb: 6, 48, 53;
  --bs-primary-text-emphasis: #09333a;
  --bs-secondary-text-emphasis: #002028;
  --bs-success-text-emphasis: #173417;
  --bs-info-text-emphasis: #002e30;
  --bs-warning-text-emphasis: #422906;
  --bs-danger-text-emphasis: #561800;
  --bs-light-text-emphasis: #495057;
  --bs-dark-text-emphasis: #495057;
  --bs-primary-bg-subtle: #d1e5e9;
  --bs-secondary-bg-subtle: #ccdce0;
  --bs-success-bg-subtle: #d8e6d8;
  --bs-info-bg-subtle: #cce3e4;
  --bs-warning-bg-subtle: #ede0cf;
  --bs-danger-bg-subtle: #f7d8cc;
  --bs-light-bg-subtle: #fcfcfd;
  --bs-dark-bg-subtle: #ced4da;
  --bs-primary-border-subtle: #a2ccd3;
  --bs-secondary-border-subtle: #99b9c1;
  --bs-success-border-subtle: #b0cdb0;
  --bs-info-border-subtle: #99c7c9;
  --bs-warning-border-subtle: #dbc29f;
  --bs-danger-border-subtle: #efb199;
  --bs-light-border-subtle: #e9ecef;
  --bs-dark-border-subtle: #adb5bd;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #000;
  --bs-body-color-rgb: 0, 0, 0;
  --bs-body-bg: #fff;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-emphasis-color: #000;
  --bs-emphasis-color-rgb: 0, 0, 0;
  --bs-secondary-color: rgba(0, 0, 0, 0.75);
  --bs-secondary-color-rgb: 0, 0, 0;
  --bs-secondary-bg: #e9ecef;
  --bs-secondary-bg-rgb: 233, 236, 239;
  --bs-tertiary-color: rgba(0, 0, 0, 0.5);
  --bs-tertiary-color-rgb: 0, 0, 0;
  --bs-tertiary-bg: #f8f9fa;
  --bs-tertiary-bg-rgb: 248, 249, 250;
  --bs-heading-color: inherit;
  --bs-link-color: #177F92;
  --bs-link-color-rgb: 23, 127, 146;
  --bs-link-decoration: none;
  --bs-link-hover-color: #0d4650;
  --bs-link-hover-color-rgb: 12, 69, 79;
  --bs-link-hover-decoration: none;
  --bs-code-color: #000;
  --bs-highlight-bg: #fff3cd;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-xxl: 2rem;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --bs-border-radius-pill: 50rem;
  --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --bs-focus-ring-width: 0.25rem;
  --bs-focus-ring-opacity: 0.25;
  --bs-focus-ring-color: rgba(23, 127, 146, 0.25);
  --bs-form-valid-color: #3A833A;
  --bs-form-valid-border-color: #3A833A;
  --bs-form-invalid-color: #D63D00;
  --bs-form-invalid-border-color: #D63D00;
}
[data-bs-theme="dark"] {
  color-scheme: dark;
  --bs-body-color: #adb5bd;
  --bs-body-color-rgb: 173, 181, 189;
  --bs-body-bg: #212529;
  --bs-body-bg-rgb: 33, 37, 41;
  --bs-emphasis-color: #fff;
  --bs-emphasis-color-rgb: 255, 255, 255;
  --bs-secondary-color: rgba(173, 181, 189, 0.75);
  --bs-secondary-color-rgb: 173, 181, 189;
  --bs-secondary-bg: #343a40;
  --bs-secondary-bg-rgb: 52, 58, 64;
  --bs-tertiary-color: rgba(173, 181, 189, 0.5);
  --bs-tertiary-color-rgb: 173, 181, 189;
  --bs-tertiary-bg: #2b3035;
  --bs-tertiary-bg-rgb: 43, 48, 53;
  --bs-primary-text-emphasis: #74b2be;
  --bs-secondary-text-emphasis: #6696a2;
  --bs-success-text-emphasis: #89b589;
  --bs-info-text-emphasis: #66abae;
  --bs-warning-text-emphasis: #c8a36e;
  --bs-danger-text-emphasis: #e68b66;
  --bs-light-text-emphasis: #f8f9fa;
  --bs-dark-text-emphasis: #dee2e6;
  --bs-primary-bg-subtle: #05191d;
  --bs-secondary-bg-subtle: #001014;
  --bs-success-bg-subtle: #0c1a0c;
  --bs-info-bg-subtle: #001718;
  --bs-warning-bg-subtle: #211403;
  --bs-danger-bg-subtle: #2b0c00;
  --bs-light-bg-subtle: #343a40;
  --bs-dark-bg-subtle: #1a1d20;
  --bs-primary-border-subtle: #0e4c58;
  --bs-secondary-border-subtle: #00303c;
  --bs-success-border-subtle: #234f23;
  --bs-info-border-subtle: #004548;
  --bs-warning-border-subtle: #623d08;
  --bs-danger-border-subtle: #802500;
  --bs-light-border-subtle: #495057;
  --bs-dark-border-subtle: #343a40;
  --bs-heading-color: ;
  --bs-link-color: #74b2be;
  --bs-link-hover-color: #90c1cb;
  --bs-link-color-rgb: 116, 178, 190;
  --bs-link-hover-color-rgb: 144, 193, 203;
  --bs-code-color: #adb5bd;
  --bs-border-color: #495057;
  --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
  --bs-form-valid-color: #75b798;
  --bs-form-valid-border-color: #75b798;
  --bs-form-invalid-color: #ea868f;
  --bs-form-invalid-border-color: #ea868f;
}
*, *::before, *::after {
  box-sizing: border-box;
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
hr {
  margin: 1rem 0;
  color: #18a3bb;
  border: 0;
  border-top: var(--bs-border-width) solid;
  opacity: 0.25;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: var(--bs-heading-color);
}
h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }
}
h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2rem;
  }
}
h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3 {
    font-size: 1.75rem;
  }
}
h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4 {
    font-size: 1.5rem;
  }
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
abbr[title] {
  text-decoration: underline dotted;
  cursor: help;
  text-decoration-skip-ink: none;
}
address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}
ol, ul {
  padding-left: 2rem;
}
ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
ol ol, ul ul, ol ul, ul ol {
  margin-bottom: 0;
}
dt {
  font-weight: 700;
}
dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}
blockquote {
  margin: 0 0 1rem;
}
b, strong {
  font-weight: bolder;
}
small {
  font-size: 0.875em;
}
mark {
  padding: 0.1875em;
  background-color: var(--bs-highlight-bg);
}
sub, sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
a {
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  text-decoration: none;
}
a:hover {
  --bs-link-color-rgb: var(--bs-link-hover-color-rgb);
  text-decoration: none;
}
a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}
pre, code, kbd, samp {
  font-family: var(--bs-font-monospace);
  font-size: 1em;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 0.875em;
}
pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}
code {
  font-size: 0.875em;
  color: var(--bs-code-color);
  word-wrap: break-word;
}
a > code {
  color: inherit;
}
kbd {
  padding: 0.1875rem 0.375rem;
  font-size: 0.875em;
  color: var(--bs-body-bg);
  background-color: var(--bs-body-color);
  border-radius: 0.25rem;
}
kbd kbd {
  padding: 0;
  font-size: 1em;
}
figure {
  margin: 0 0 1rem;
}
img, svg {
  vertical-align: middle;
}
table {
  caption-side: bottom;
  border-collapse: collapse;
}
caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: var(--bs-secondary-color);
  text-align: left;
}
th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}
thead, tbody, tfoot, tr, td, th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}
label {
  display: inline-block;
}
button {
  border-radius: 0;
}
button:focus:not(:focus-visible) {
  outline: 0;
}
input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button, select {
  text-transform: none;
}
[role="button"] {
  cursor: pointer;
}
select {
  word-wrap: normal;
}
select:disabled {
  opacity: 1;
}
[list]:not([type="date"]):not([type="datetime-local"]):not([type="month"]):not([type="week"]):not([type="time"])::-webkit-calendar-picker-indicator {
  display: none !important;
}
button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}
button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
  cursor: pointer;
}
::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
textarea {
  resize: vertical;
}
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: calc(1.275rem + 0.3vw);
  line-height: inherit;
}
@media (min-width: 1200px) {
  legend {
    font-size: 1.5rem;
  }
}
legend + * {
  clear: left;
}
::-webkit-datetime-edit-fields-wrapper, ::-webkit-datetime-edit-text, ::-webkit-datetime-edit-minute, ::-webkit-datetime-edit-hour-field, ::-webkit-datetime-edit-day-field, ::-webkit-datetime-edit-month-field, ::-webkit-datetime-edit-year-field {
  padding: 0;
}
::-webkit-inner-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
/* rtl:raw:
[type="tel"],
[type="url"],
[type="email"],
[type="number"] {
  direction: ltr;
}
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-color-swatch-wrapper {
  padding: 0;
}
::file-selector-button {
  font: inherit;
  -webkit-appearance: button;
}
output {
  display: inline-block;
}
iframe {
  border: 0;
}
summary {
  display: list-item;
  cursor: pointer;
}
progress {
  vertical-align: baseline;
}
[hidden] {
  display: none !important;
}
.btn {
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: var(--bs-body-color);
  --bs-btn-bg: transparent;
  --bs-btn-border-width: var(--bs-border-width);
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: var(--bs-border-radius);
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.2rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  background-image: var(--bs-gradient);
  box-shadow: var(--bs-btn-box-shadow);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}
.btn-check + .btn:hover {
  color: var(--bs-btn-color);
  background-color: var(--bs-btn-bg);
  border-color: var(--bs-btn-border-color);
}
.btn:focus-visible {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  background-image: var(--bs-gradient);
  border-color: var(--bs-btn-hover-border-color);
  outline: 0;
  box-shadow: var(--bs-btn-box-shadow), var(--bs-btn-focus-box-shadow);
}
.btn-check:focus-visible + .btn {
  border-color: var(--bs-btn-hover-border-color);
  outline: 0;
  box-shadow: var(--bs-btn-box-shadow), var(--bs-btn-focus-box-shadow);
}
.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
  color: var(--bs-btn-active-color);
  background-color: var(--bs-btn-active-bg);
  background-image: none;
  border-color: var(--bs-btn-active-border-color);
  box-shadow: var(--bs-btn-active-shadow);
}
.btn-check:checked + .btn:focus-visible, :not(.btn-check) + .btn:active:focus-visible, .btn:first-child:active:focus-visible, .btn.active:focus-visible, .btn.show:focus-visible {
  box-shadow: var(--bs-btn-active-shadow), var(--bs-btn-focus-box-shadow);
}
.btn:disabled, .btn.disabled, fieldset:disabled .btn {
  color: var(--bs-btn-disabled-color);
  pointer-events: none;
  background-color: var(--bs-btn-disabled-bg);
  background-image: none;
  border-color: var(--bs-btn-disabled-border-color);
  opacity: var(--bs-btn-disabled-opacity);
  box-shadow: none;
}
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #177F92;
  --bs-btn-border-color: #177F92;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #146c7c;
  --bs-btn-hover-border-color: #126675;
  --bs-btn-focus-shadow-rgb: 58, 146, 162;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #126675;
  --bs-btn-active-border-color: #115f6e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #177F92;
  --bs-btn-disabled-border-color: #177F92;
}
.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #005064;
  --bs-btn-border-color: #005064;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #045;
  --bs-btn-hover-border-color: #004050;
  --bs-btn-focus-shadow-rgb: 38, 106, 123;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #004050;
  --bs-btn-active-border-color: #003c4b;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #005064;
  --bs-btn-disabled-border-color: #005064;
}
.btn-success {
  --bs-btn-color: #fff;
  --bs-btn-bg: #3A833A;
  --bs-btn-border-color: #3A833A;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #316f31;
  --bs-btn-hover-border-color: #2e692e;
  --bs-btn-focus-shadow-rgb: 88, 150, 88;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #2e692e;
  --bs-btn-active-border-color: #2c622c;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #3A833A;
  --bs-btn-disabled-border-color: #3A833A;
}
.btn-info {
  --bs-btn-color: #fff;
  --bs-btn-bg: #007378;
  --bs-btn-border-color: #007378;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #006266;
  --bs-btn-hover-border-color: #005c60;
  --bs-btn-focus-shadow-rgb: 38, 136, 140;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #005c60;
  --bs-btn-active-border-color: #00565a;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #007378;
  --bs-btn-disabled-border-color: #007378;
}
.btn-warning {
  --bs-btn-color: #fff;
  --bs-btn-bg: #A4660E;
  --bs-btn-border-color: #A4660E;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #8b570c;
  --bs-btn-hover-border-color: #83520b;
  --bs-btn-focus-shadow-rgb: 178, 125, 50;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #83520b;
  --bs-btn-active-border-color: #7b4d0b;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #A4660E;
  --bs-btn-disabled-border-color: #A4660E;
}
.btn-danger {
  --bs-btn-color: #fff;
  --bs-btn-bg: #D63D00;
  --bs-btn-border-color: #D63D00;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #b63400;
  --bs-btn-hover-border-color: #ab3100;
  --bs-btn-focus-shadow-rgb: 220, 90, 38;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ab3100;
  --bs-btn-active-border-color: #a12e00;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #D63D00;
  --bs-btn-disabled-border-color: #D63D00;
}
.btn-light {
  --bs-btn-color: #212529;
  --bs-btn-bg: #ddf8f9;
  --bs-btn-border-color: #ddf8f9;
  --bs-btn-hover-color: #212529;
  --bs-btn-hover-bg: #bcd3d4;
  --bs-btn-hover-border-color: #b1c6c7;
  --bs-btn-focus-shadow-rgb: 193, 216, 218;
  --bs-btn-active-color: #212529;
  --bs-btn-active-bg: #b1c6c7;
  --bs-btn-active-border-color: #a6babb;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #212529;
  --bs-btn-disabled-bg: #ddf8f9;
  --bs-btn-disabled-border-color: #ddf8f9;
}
.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: #063035;
  --bs-btn-border-color: #063035;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #2b4f53;
  --bs-btn-hover-border-color: #1f4549;
  --bs-btn-focus-shadow-rgb: 43, 79, 83;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #38595d;
  --bs-btn-active-border-color: #1f4549;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #063035;
  --bs-btn-disabled-border-color: #063035;
}
.btn-outline-primary {
  --bs-btn-color: #177F92;
  --bs-btn-border-color: #177F92;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #177F92;
  --bs-btn-hover-border-color: #177F92;
  --bs-btn-focus-shadow-rgb: 23, 127, 146;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #177F92;
  --bs-btn-active-border-color: #177F92;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #177F92;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #177F92;
  --bs-gradient: none;
}
.btn-outline-secondary {
  --bs-btn-color: #005064;
  --bs-btn-border-color: #005064;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #005064;
  --bs-btn-hover-border-color: #005064;
  --bs-btn-focus-shadow-rgb: 0, 80, 100;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #005064;
  --bs-btn-active-border-color: #005064;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #005064;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #005064;
  --bs-gradient: none;
}
.btn-outline-success {
  --bs-btn-color: #3A833A;
  --bs-btn-border-color: #3A833A;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #3A833A;
  --bs-btn-hover-border-color: #3A833A;
  --bs-btn-focus-shadow-rgb: 58, 131, 58;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #3A833A;
  --bs-btn-active-border-color: #3A833A;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #3A833A;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #3A833A;
  --bs-gradient: none;
}
.btn-outline-info {
  --bs-btn-color: #007378;
  --bs-btn-border-color: #007378;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #007378;
  --bs-btn-hover-border-color: #007378;
  --bs-btn-focus-shadow-rgb: 0, 115, 120;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #007378;
  --bs-btn-active-border-color: #007378;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #007378;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #007378;
  --bs-gradient: none;
}
.btn-outline-warning {
  --bs-btn-color: #A4660E;
  --bs-btn-border-color: #A4660E;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #A4660E;
  --bs-btn-hover-border-color: #A4660E;
  --bs-btn-focus-shadow-rgb: 164, 102, 14;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #A4660E;
  --bs-btn-active-border-color: #A4660E;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #A4660E;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #A4660E;
  --bs-gradient: none;
}
.btn-outline-danger {
  --bs-btn-color: #D63D00;
  --bs-btn-border-color: #D63D00;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #D63D00;
  --bs-btn-hover-border-color: #D63D00;
  --bs-btn-focus-shadow-rgb: 214, 61, 0;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #D63D00;
  --bs-btn-active-border-color: #D63D00;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #D63D00;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #D63D00;
  --bs-gradient: none;
}
.btn-outline-light {
  --bs-btn-color: #ddf8f9;
  --bs-btn-border-color: #ddf8f9;
  --bs-btn-hover-color: #212529;
  --bs-btn-hover-bg: #ddf8f9;
  --bs-btn-hover-border-color: #ddf8f9;
  --bs-btn-focus-shadow-rgb: 221, 248, 249;
  --bs-btn-active-color: #212529;
  --bs-btn-active-bg: #ddf8f9;
  --bs-btn-active-border-color: #ddf8f9;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #ddf8f9;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ddf8f9;
  --bs-gradient: none;
}
.btn-outline-dark {
  --bs-btn-color: #063035;
  --bs-btn-border-color: #063035;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #063035;
  --bs-btn-hover-border-color: #063035;
  --bs-btn-focus-shadow-rgb: 6, 48, 53;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #063035;
  --bs-btn-active-border-color: #063035;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #063035;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #063035;
  --bs-gradient: none;
}
.btn-link {
  --bs-btn-font-weight: 400;
  --bs-btn-color: var(--bs-link-color);
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: var(--bs-link-hover-color);
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-color: var(--bs-link-hover-color);
  --bs-btn-active-border-color: transparent;
  --bs-btn-disabled-color: #6c757d;
  --bs-btn-disabled-border-color: transparent;
  --bs-btn-box-shadow: 0 0 0 #000;
  --bs-btn-focus-shadow-rgb: 58, 146, 162;
  text-decoration: none;
  background-image: none;
}
.btn-link:hover, .btn-link:focus-visible {
  text-decoration: none;
}
.btn-link:focus-visible {
  color: var(--bs-btn-color);
}
.btn-link:hover {
  color: var(--bs-btn-hover-color);
}
.btn-lg {
  --bs-btn-padding-y: 0.5rem;
  --bs-btn-padding-x: 1rem;
  --bs-btn-font-size: 1.25rem;
  --bs-btn-border-radius: var(--bs-border-radius-lg);
}
.btn-sm {
  --bs-btn-padding-y: 0.25rem;
  --bs-btn-padding-x: 0.5rem;
  --bs-btn-font-size: 0.875rem;
  --bs-btn-border-radius: var(--bs-border-radius-sm);
}
.nav {
  --bs-nav-link-padding-x: 1rem;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: var(--bs-link-color);
  --bs-nav-link-hover-color: var(--bs-link-hover-color);
  --bs-nav-link-disabled-color: var(--bs-secondary-color);
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--bs-nav-link-color);
  background: none;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .nav-link {
    transition: none;
  }
}
.nav-link:hover, .nav-link:focus {
  color: var(--bs-nav-link-hover-color);
}
.nav-link:focus-visible {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(23, 127, 146, 0.25);
}
.nav-link.disabled, .nav-link:disabled {
  color: var(--bs-nav-link-disabled-color);
  pointer-events: none;
  cursor: default;
}
.nav-tabs {
  --bs-nav-tabs-border-width: var(--bs-border-width);
  --bs-nav-tabs-border-color: var(--bs-border-color);
  --bs-nav-tabs-border-radius: var(--bs-border-radius);
  --bs-nav-tabs-link-hover-border-color: var(--bs-secondary-bg) var(--bs-secondary-bg) var(--bs-border-color);
  --bs-nav-tabs-link-active-color: #fff;
  --bs-nav-tabs-link-active-bg: #087084;
  --bs-nav-tabs-link-active-border-color: var(--bs-border-color) var(--bs-border-color) #087084;
  border-bottom: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);
}
.nav-tabs .nav-link {
  margin-bottom: calc(-1 * var(--bs-nav-tabs-border-width));
  border: var(--bs-nav-tabs-border-width) solid transparent;
  border-top-left-radius: var(--bs-nav-tabs-border-radius);
  border-top-right-radius: var(--bs-nav-tabs-border-radius);
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  isolation: isolate;
  border-color: var(--bs-nav-tabs-link-hover-border-color);
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: var(--bs-nav-tabs-link-active-color);
  background-color: var(--bs-nav-tabs-link-active-bg);
  border-color: var(--bs-nav-tabs-link-active-border-color);
}
.nav-tabs .dropdown-menu {
  margin-top: calc(-1 * var(--bs-nav-tabs-border-width));
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.nav-pills {
  --bs-nav-pills-border-radius: var(--bs-border-radius);
  --bs-nav-pills-link-active-color: #fff;
  --bs-nav-pills-link-active-bg: #087084;
}
.nav-pills .nav-link {
  border-radius: var(--bs-nav-pills-border-radius);
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: var(--bs-nav-pills-link-active-color);
  background-color: var(--bs-nav-pills-link-active-bg);
  background-image: var(--bs-gradient);
}
.nav-underline {
  --bs-nav-underline-gap: 1rem;
  --bs-nav-underline-border-width: 0.125rem;
  --bs-nav-underline-link-active-color: var(--bs-emphasis-color);
  gap: var(--bs-nav-underline-gap);
}
.nav-underline .nav-link {
  padding-right: 0;
  padding-left: 0;
  border-bottom: var(--bs-nav-underline-border-width) solid transparent;
}
.nav-underline .nav-link:hover, .nav-underline .nav-link:focus {
  border-bottom-color: currentcolor;
}
.nav-underline .nav-link.active, .nav-underline .show > .nav-link {
  font-weight: 700;
  color: var(--bs-nav-underline-link-active-color);
  border-bottom-color: currentcolor;
}
.nav-fill > .nav-link, .nav-fill .nav-item {
  flex: 1 1 auto;
  text-align: center;
}
.nav-justified > .nav-link, .nav-justified .nav-item {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
}
.nav-fill .nav-item .nav-link, .nav-justified .nav-item .nav-link {
  width: 100%;
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
.alert {
  --bs-alert-bg: transparent;
  --bs-alert-padding-x: 1rem;
  --bs-alert-padding-y: 1rem;
  --bs-alert-margin-bottom: 1rem;
  --bs-alert-color: inherit;
  --bs-alert-border-color: transparent;
  --bs-alert-border: var(--bs-border-width) solid var(--bs-alert-border-color);
  --bs-alert-border-radius: var(--bs-border-radius);
  --bs-alert-link-color: inherit;
  position: relative;
  padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
  margin-bottom: var(--bs-alert-margin-bottom);
  color: var(--bs-alert-color);
  background-color: var(--bs-alert-bg);
  border: var(--bs-alert-border);
  border-radius: var(--bs-alert-border-radius);
}
.alert-heading {
  color: inherit;
}
.alert-link {
  font-weight: 700;
  color: var(--bs-alert-link-color);
}
.alert-dismissible {
  padding-right: 3rem;
}
.alert-dismissible .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 1.25rem 1rem;
}
.alert-primary {
  --bs-alert-color: var(--bs-primary-text-emphasis);
  --bs-alert-bg: var(--bs-primary-bg-subtle);
  --bs-alert-border-color: var(--bs-primary-border-subtle);
  --bs-alert-link-color: var(--bs-primary-text-emphasis);
}
.alert-secondary {
  --bs-alert-color: var(--bs-secondary-text-emphasis);
  --bs-alert-bg: var(--bs-secondary-bg-subtle);
  --bs-alert-border-color: var(--bs-secondary-border-subtle);
  --bs-alert-link-color: var(--bs-secondary-text-emphasis);
}
.alert-success {
  --bs-alert-color: var(--bs-success-text-emphasis);
  --bs-alert-bg: var(--bs-success-bg-subtle);
  --bs-alert-border-color: var(--bs-success-border-subtle);
  --bs-alert-link-color: var(--bs-success-text-emphasis);
}
.alert-info {
  --bs-alert-color: var(--bs-info-text-emphasis);
  --bs-alert-bg: var(--bs-info-bg-subtle);
  --bs-alert-border-color: var(--bs-info-border-subtle);
  --bs-alert-link-color: var(--bs-info-text-emphasis);
}
.alert-warning {
  --bs-alert-color: var(--bs-warning-text-emphasis);
  --bs-alert-bg: var(--bs-warning-bg-subtle);
  --bs-alert-border-color: var(--bs-warning-border-subtle);
  --bs-alert-link-color: var(--bs-warning-text-emphasis);
}
.alert-danger {
  --bs-alert-color: var(--bs-danger-text-emphasis);
  --bs-alert-bg: var(--bs-danger-bg-subtle);
  --bs-alert-border-color: var(--bs-danger-border-subtle);
  --bs-alert-link-color: var(--bs-danger-text-emphasis);
}
.alert-light {
  --bs-alert-color: var(--bs-light-text-emphasis);
  --bs-alert-bg: var(--bs-light-bg-subtle);
  --bs-alert-border-color: var(--bs-light-border-subtle);
  --bs-alert-link-color: var(--bs-light-text-emphasis);
}
.alert-dark {
  --bs-alert-color: var(--bs-dark-text-emphasis);
  --bs-alert-bg: var(--bs-dark-bg-subtle);
  --bs-alert-border-color: var(--bs-dark-border-subtle);
  --bs-alert-link-color: var(--bs-dark-text-emphasis);
}
body.layout_social.tiki.navbar-padding {
  padding-top: 2.72rem;
  padding-bottom: 0;
}
.bg-dark {
  background-color: #063035 !important;
  color: #f9f9f9;
}
.bg-dark .btn-outline-info {
  color: #00DAE6;
}
.btn-outline-dark {
  color: #063035;
  outline-color: #063035;
}
.tiki .wiki.external + .icon-link-external, .tiki .wiki.external .icon-link-external, .editable-inline .icon {
  color: var(--bs-link-color);
}
hr {
  border-top: 1px solid #18a3bb;
}
.table th, .table td {
  border-top: 1px solid #1296a9;
}
.table > thead > tr > th {
  border-bottom: 2px solid #1296a9;
}
.table > tbody + tbody {
  border-top: 2px solid #1296a9;
}
.table .table {
  background-color: #ffffff;
}
.table .table-bordered {
  border: 1px solid #1296a9;
}
.table .table-bordered th, .table .table-bordered td {
  border: 1px solid #1296a9;
}
.table .table-striped > tbody > tr:nth-child(odd) > td, .table .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}
.table .table-hover > tbody > tr:hover > td, .table .table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5;
}
.form-control {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  background-image: none;
  border: 1px solid var(--bs-border-color);
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  color: #18a3bb;
  background-color: #eeeeee;
  border-color: #dddddd;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  color: #ffffff;
  background-color: #0b8a98;
  border-color: #0b8a98;
}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
  color: #999999;
  background-color: #ffffff;
  border-color: #dddddd;
}
.col2 .card-header, .col3 .card-header {
  border-bottom: 1px solid #169FB6;
}
header.page-header {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: none;
}
header.page-header a:not(.dropdown-item), header.page-header a.btn-link {
  color: #fff;
}
.form-control, select, input[type="text"], input[type="password"], input[type="file"], input[type="email"], input[type="search"], input[type="number"], input#login-pass, textarea, .adminoptionbox option {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
}
#footer {
  background: black;
  color: #f4f4f4;
  padding: 1px 0 2px 0;
  width: 100%;
}
.footer {
  border-top: 1px solid #19a5be;
  border-bottom: 1px solid #19a5be;
}
.footer_liner .card {
  background-color: transparent;
  border: none;
}
.footer_liner .card-header {
  color: #ffffff;
  border-bottom: 1px dotted #19a5be;
}
.footer_liner legend, .footer_liner a:not(.btn), .footer_liner a:not(.btn):visited {
  color: #a9a9a9;
}
.nav-tabs .nav-link {
  color: #000;
  background-color: #ddf8f9;
  border-color: #dee2e6 #dee2e6 #ffffff;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #fff;
  background-color: #087084;
}
.blog-postbody-title h2.panel-title {
  font-size: 20px;
}
.postbody-title .card-title {
  color: #fff;
}
header.header .sitetitle, header.header .sitesubtitle {
  text-shadow: none;
}
.searchresults blockquote em, .highlight {
  background: #f2dede;
  color: #a94442;
  border-color: #ebccd1;
}
.topbar .navbar-nav > li > a, .topbar .navbar > li > a {
  color: #ffffff;
}
#autotoc .nav-link.active, #autotoc .nav-link.active:hover, #autotoc .nav-link.active:focus {
  border-left-color: #177F92 !important;
}
#autotoc .nav > li > a:hover, #autotoc .nav > li > a:focus {
  border-left-color: #005064 !important;
}
#col2 .card-title, #col3 .card-title, a.flipmoduletitle, #col2 .card-secondary > .card-header a, #col3 .card-secondary > .card-header a {
  color: #0F7385;
}
footer#footer .footer_liner {
  border-top: 1px solid #19a5be;
  border-bottom: 1px solid #19a5be;
}
footer#footer .footer_liner .card-header {
  border-bottom: 1px dotted #19a5be;
}
.btn-dark {
  color: #ddf8f9;
  background: #063035;
  border-color: #063035;
}
.page-item.disabled, .list-group-item.disabled {
  color: var(--bs-secondary-color) !important;
}
.tiki .tiki-top-nav-light {
  background: var(--tiki-top-bg) !important;
  color: var(--tiki-top-text-color);
  border: var(--tiki-top-border);
  border-width: var(--tiki-top-border-width);
  box-shadow: var(--tiki-top-box-shadow);
}
.tiki .tiki-top-nav-light a:not(.navbar-brand, .dropdown-item), .tiki .tiki-top-nav-light .dropdown-toggle, .tiki .tiki-top-nav-light .nav-link.dropdown-toggle, .tiki .tiki-top-nav-light .btn.btn-link {
  color: var(--tiki-top-color);
}
.tiki .tiki-top-nav-light a:not(.navbar-brand, .dropdown-item):hover, .tiki .tiki-top-nav-light .dropdown-toggle:hover, .tiki .tiki-top-nav-light .nav-link.dropdown-toggle:hover, .tiki .tiki-top-nav-light .btn.btn-link:hover {
  color: var(--tiki-top-hover-color);
  background: var(--tiki-top-hover-bg);
}
.tiki .tiki-topbar-nav-light, .admin-content .tiki-nav-light {
  background: var(--tiki-topbar-bg) !important;
  color: var(--tiki-topbar-text-color);
  border: var(--tiki-topbar-border);
  border-width: var(--tiki-topbar-border-width);
  box-shadow: var(--tiki-topbar-box-shadow);
}
.tiki .tiki-topbar-nav-light a:not(.navbar-brand, .dropdown-item), .tiki .tiki-topbar-nav-light .dropdown-toggle, .tiki .tiki-topbar-nav-light .nav-link.dropdown-toggle, .tiki .tiki-topbar-nav-light .btn.btn-link, .tiki .tiki-topbar-nav-light .nav-link, .admin-content .tiki-nav-light a:not(.navbar-brand, .dropdown-item), .admin-content .tiki-nav-light .dropdown-toggle, .admin-content .tiki-nav-light .nav-link.dropdown-toggle, .admin-content .tiki-nav-light .btn.btn-link, .admin-content .tiki-nav-light .nav-link {
  color: var(--tiki-topbar-color);
}
.tiki .tiki-topbar-nav-light a:not(.navbar-brand, .dropdown-item):hover, .tiki .tiki-topbar-nav-light .dropdown-toggle:hover, .tiki .tiki-topbar-nav-light .nav-link.dropdown-toggle:hover, .tiki .tiki-topbar-nav-light .btn.btn-link:hover, .tiki .tiki-topbar-nav-light .nav-link:hover, .admin-content .tiki-nav-light a:not(.navbar-brand, .dropdown-item):hover, .admin-content .tiki-nav-light .dropdown-toggle:hover, .admin-content .tiki-nav-light .nav-link.dropdown-toggle:hover, .admin-content .tiki-nav-light .btn.btn-link:hover, .admin-content .tiki-nav-light .nav-link:hover {
  color: var(--tiki-topbar-hover-color);
  background: var(--tiki-topbar-hover-bg);
}
.tiki .tiki-top-nav-dark {
  background: var(--tiki-top-bg) !important;
  color: var(--tiki-top-text-color);
  border: var(--tiki-top-border);
  border-width: var(--tiki-top-border-width);
  box-shadow: var(--tiki-top-box-shadow);
}
.tiki .tiki-top-nav-dark a:not(.navbar-brand, .dropdown-item), .tiki .tiki-top-nav-dark .dropdown-toggle, .tiki .tiki-top-nav-dark .nav-link.dropdown-toggle, .tiki .tiki-top-nav-dark .btn.btn-link, .tiki .tiki-top-nav-dark .nav-link {
  color: var(--tiki-top-color);
}
.tiki .tiki-top-nav-dark a:not(.navbar-brand, .dropdown-item):hover, .tiki .tiki-top-nav-dark .dropdown-toggle:hover, .tiki .tiki-top-nav-dark .nav-link.dropdown-toggle:hover, .tiki .tiki-top-nav-dark .btn.btn-link:hover, .tiki .tiki-top-nav-dark .nav-link:hover {
  color: var(--tiki-top-hover-color);
  background: var(--tiki-top-hover-bg);
}
.tiki .tiki-topbar-nav-dark, .admin-content .tiki-nav-dark {
  background: var(--tiki-topbar-bg) !important;
  color: var(--tiki-topbar-text-color);
  border: var(--tiki-topbar-border);
  border-width: var(--tiki-topbar-border-width);
  box-shadow: var(--tiki-topbar-box-shadow);
}
.tiki .tiki-topbar-nav-dark a:not(.navbar-brand, .dropdown-item), .tiki .tiki-topbar-nav-dark .dropdown-toggle, .tiki .tiki-topbar-nav-dark .nav-link.dropdown-toggle, .tiki .tiki-topbar-nav-dark .btn.btn-link, .tiki .tiki-topbar-nav-dark .nav-link, .admin-content .tiki-nav-dark a:not(.navbar-brand, .dropdown-item), .admin-content .tiki-nav-dark .dropdown-toggle, .admin-content .tiki-nav-dark .nav-link.dropdown-toggle, .admin-content .tiki-nav-dark .btn.btn-link, .admin-content .tiki-nav-dark .nav-link {
  color: var(--tiki-topbar-color);
}
.tiki .tiki-topbar-nav-dark a:not(.navbar-brand, .dropdown-item):hover, .tiki .tiki-topbar-nav-dark .dropdown-toggle:hover, .tiki .tiki-topbar-nav-dark .nav-link.dropdown-toggle:hover, .tiki .tiki-topbar-nav-dark .btn.btn-link:hover, .tiki .tiki-topbar-nav-dark .nav-link:hover, .admin-content .tiki-nav-dark a:not(.navbar-brand, .dropdown-item):hover, .admin-content .tiki-nav-dark .dropdown-toggle:hover, .admin-content .tiki-nav-dark .nav-link.dropdown-toggle:hover, .admin-content .tiki-nav-dark .btn.btn-link:hover, .admin-content .tiki-nav-dark .nav-link:hover {
  color: var(--tiki-topbar-hover-color);
  background: var(--tiki-topbar-hover-bg);
}
.tiki.layout_basic .page-header .top_modules, .tiki.layout_basic .page-header .top_modules .navbar, .tiki.layout_basic .topbar_modules .navbar {
  background: transparent !important;
  --bs-bg-opacity: 0 !important;
  box-shadow: none;
  border: none;
}
.tiki.layout_classic .top_modules .navbar, .tiki.layout_classic .topbar, .tiki.layout_classic .topbar_modules, .tiki.layout_classic .topbar_modules .navbar {
  background: transparent !important;
  --bs-bg-opacity: 0 !important;
  box-shadow: none;
  border: none;
}
.layout_social header .top_modules, .layout_social header .top_modules .navbar, .layout_social .topbar, .layout_social .topbar .navbar {
  background: transparent !important;
  --bs-bg-opacity: 0 !important;
  box-shadow: none;
  border: none;
}
.tiki .select2-container--bootstrap-5 .select2-selection {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
}
.tiki .select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered, .tiki .select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option {
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
}
.tiki .select2-container--bootstrap-5 .select2-dropdown {
  background-color: var(--bs-body-bg);
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
}
.tiki .select2-results__options .select2-results__option {
  color: var(--bs-body-color);
  background: var(--bs-body-bg);
}
.tiki .select2-container--bootstrap-5 .select2-dropdown .select2-search .select2-search__field {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border: 1px solid var(--bs-border-color);
  border-radius: 0.25rem;
  transition: var(--bs-border-color) 0.15s ease-in-out, inset 0 1px 2px rgba(0, 0, 0, 0.075) 0.15s ease-in-out;
}
.tiki .select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option.select2-results__option--selected, .tiki .select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option[aria-selected="true"] {
  color: #fff;
  background-color: #177F92;
}
.header_outer, .layout_basic #top_modules, .postbody-title, .tiki > .navbar.fixed-top.bg-dark, .bg-dark {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0a8794+0,169fb6+53,18a4bc+72,19a5bd+100 */
  background: #0a8794 !important;
  /* Old browsers */
  background: linear-gradient(to right, #0a8794 0%, #169fb6 53%, #18a4bc 72%, #19a5bd 100%) !important;
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.text-danger {
  color: #D63D00 !important;
}
.text-dark {
  color: #063035 !important;
}
.bg-dark {
  background-color: #063035 !important;
}
.btn-dark {
  color: #fff;
  background-color: #063035;
  border-color: #063035;
}
.breadcrumb-item.active {
  color: var(--bs-secondary-color) !important;
}
.valid-feedback, .valid-tooltip {
  color: #288040;
}
.was-validated .form-check-input:invalid ~ .form-check-label, .form-check-input.is-invalid ~ .form-check-label, .invalid-feedback, .invalid-tooltip {
  color: #B45918 !important;
}
.bg-danger .card-title, .bg-warning .card-title {
  color: #fff;
}
.badge.bg-danger {
  color: #fff;
}

